body {
font-family: Arial, sans-serif;
margin: 0;
padding: 8;
background-color: #db52524f ;
}
header {
background-color: rgb(3, 3, 3);
color: red;
text-align: center;
padding: 1rem 0;
}
nav ul {
list-style: none;
padding: 0;
margin: 0;
background-color: #ad1313;
display: flex;
justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
color: #000000;
text-decoration: none;
padding: 0.5rem 1rem;
display: block;
}
nav ul li a:hover {
    background-color: #555;
}

.content {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    background: rgb(177, 14, 14);
    border-radius: 800px;
    box-shadow: 0 18px 9px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

th, td {
    border: 1px solid #ccc;
    padding: 9px;
    text-align: center;
}

th {
    background-color: #f1f1f1;
}
.menu-imgc {
    width: 100px;
    height: auto;
    border-radius: 800px;
}

.logo {
    width: 1500px;
    height: auto;
    display: block;
    margin: 0 auto rem;
}

